@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

.bgcontainer {
    background-image: url('/public/img/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    /* Add additional styles as needed */
}

input[type="radio"] {
    display: none;
}

label {
    position: relative;
    color: #7A7A7A;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    /* border: 3px solid #4189e0; */
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: larger;
}

label:before {
    content: "";
    height: 2rem;
    width: 2rem;
    /* padding: 5px; */
    border: 3px solid #a1a3a5;
    border-radius: 50%;
}

input[type="radio"]:checked+label:before {
    height: 2rem;
    width: 2rem;
    /* padding: 1rem; */
    border: 3px solid #a1a3a5;
    background-color: #e041a0;
    /* color: #e041a0; */
}

input[type="radio"]:checked+label {
    /* background-color: #4189e0; */
    color: #e041a0;
}